<link rel="stylesheet" href="/css/font-awesome.min.css" media="screen" title="no title">

<%
def timeAgo(time)
  a = (Time.now-time).to_i

  case a
    when 0 then 'maintenant'
    when 1 then 'une seconde'
    when 2..59 then a.to_s+' seconds'
    when 60..119 then 'une minute' #120 = 2 minutes
    when 120..3540 then (a/60).to_i.to_s+' minutes'
    when 3541..7100 then 'une heure' # 3600 = 1 hour
    when 7101..82800 then ((a+99)/3600).to_i.to_s+' heures'
    when 82801..172000 then 'un jour' # 86400 = 1 day
    when 172001..518400 then ((a+800)/(60*60*24)).to_i.to_s+' jours'
    when 518400..1036800 then 'une semaine'
    else ((a+180000)/(60*60*24*7)).to_i.to_s+' semaines'
  end
end
%>

<style media="screen">
  table tr th, table tr td {
    text-align: right;
    vertical-align: middle;
  }
  #todo, #ready, #delivered {
    width: 100vw;
    max-width: 360px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .combined-order {
    margin-bottom: 10px;
  }
  .combined-order .title {
    font-weight: bold;
    text-transform: uppercase;
  }
  ul.ordered-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .done-check {
    display: inline-block;
    position: relative;
  }

</style>

<datalist id="ready-times">
  <!-- inserted by js -->
</datalist>

<section id="todo">
  <% if @todo_orders.length != 0 %>
    <% @todo_orders.each do |combined_order| %>
      <div class="combined-order">
        <span class="title">#<%=combined_order.id%> <%= combined_order.pickup_time.strftime("à livré à partir de %H:%M") %></span>
        <ul class="ordered-items">
        <% orders = Order.all(combined_order_id: combined_order.id) %>
        <% orders.each do |order| %>
          <li>
            <% if order.done %>
              <div class="done-check uncompleted" order-id="<%= order.id %>">
                <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
              </div>
            <% else %>
              <div class="done-check completed" order-id="<%= order.id %>">
                <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
              </div>
            <% end %>
            <%= Product.get(order.product_id).name.capitalize %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    <h3 style="text-align: center;">Il n'y a pas de commandes à preparer</h3>
  <% end %>
</section>

<section id="ready">
  <% if @ready_orders.length != 0 %>
    <% @ready_orders.each do |combined_order| %>
      <div class="combined-order">
        <% user = User.get(combined_order.user_id) %>
        <span class="title">#<%=combined_order.id%> <%= combined_order.pickup_time.strftime("à livré à partir de %H:%M") %> <br>
        <%= user.first_name.capitalize %> <%= user.last_name.capitalize %> - <%= user.phone %></span>
        <div class="delivered" combined-order-id="<%= combined_order.id %>">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-truck fa-stack-1x" aria-hidden="true"></i>
          </span>
        </div>
        <ul class="ordered-items">
        <% orders = Order.all(combined_order_id: combined_order.id) %>
        <% orders.each do |order| %>
          <li>
            <div class="done-check uncompleted" order-id="<%= order.id %>">
              <i class="fa fa-check-circle fa-2x fa-pull-right" aria-hidden="true"></i>
            </div>
            <%= Product.get(order.product_id).name.capitalize %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    <h3 style="text-align: center;">Il n'y a pas de commandes prêtes</h3>
  <% end %>
</section>

<section id="delivered">
  <% @delivered_orders.each do |combined_order| %>
    <div class="combined-order">
      <span class="title">#<%=combined_order.id%> <%= combined_order.delivered_at.strftime("livré le %d/%m/%y à %H:%M") %></span>
      <div class="undelivered" combined-order-id="<%= combined_order.id %>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-truck fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
        <!-- <span class="fa-stack fa-lg fa-pull-right">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-credit-card-alt fa-stack-1x" aria-hidden="true"></i>
        </span> -->
      </div>
      <ul class="ordered-items">
      <% orders = Order.all(combined_order_id: combined_order.id) %>
      <% orders.each do |order| %>
        <li>
          <div class="done-check" order-id="<%= order.id %>">
            <i class="fa fa-check-circle fa-2x fa-pull-right" aria-hidden="true"></i>
          </div>
          <%= Product.get(order.product_id).name.capitalize %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>
</section>

<section id="search">
  <h3>Searching...</h3>
</section>

<!-- <script src="/js/jquery.formatter.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/moment-timezone-with-data.min.js"></script> -->

<script type="text/javascript">
// $(document).on("keyup", "input", function (e) {
//   var oderID = $(this).attr("order-id");
//   var readyTime = $(this).val();
//   $.post("/order-ready-time",{
//       order_id: oderID,
//       ready_time: readyTime
//     }, function(data){
//
//     }
//   );
// });
//
// $( '.ready-time' ).formatter( {
// 	'pattern': '{{99}}:{{99}}'
// 		// 'persistent': true
// } );
//
// // Setup time select
// function updateDataList() {
//   var t = moment.tz( "Europe/Paris" );
//   var hour = parseInt( t.format( "HH" ) );
//   var minutes = parseInt( t.format( "mm" ) );
//
//   $( "input.pickup-time" ).attr( "placeholder", hour + ":" + minutes );
//   var options = "";
//   var inMinutes;
//   var displayMinute;
//
//   function pushExtraMinutesToHours() {
//     if (minutes >= 60) {
//       hour += 1;
//       minutes -= 60;
//     }
//   }
//
//   for (var i = 0; i < 3; i++) {
//     minutes += 1;
//     pushExtraMinutesToHours();
//     inMinutes = (hour*60 + minutes) - (parseInt( t.format( "HH" ) ) * 60 + parseInt( t.format( "mm" ) ));
//     displayMinute = ( "0" + minutes ).slice( -2 );
//     options += "<option value=" + hour + ":" + displayMinute + "> Dans "+inMinutes+" minutes </option>";
//   }
//
//   minutes += 2;
//   pushExtraMinutesToHours();
//   inMinutes = (hour*60 + minutes) - (parseInt( t.format( "HH" ) ) * 60 + parseInt( t.format( "mm" ) ));
//   displayMinute = ( "0" + minutes ).slice( -2 );
//   options += "<option value=" + hour + ":" + displayMinute + "> Dans "+inMinutes+" minutes </option>";
//
//   for (var i = 0; i < 11; i++) {
//     minutes += 5;
//     pushExtraMinutesToHours();
//     inMinutes = (hour*60 + minutes) - (parseInt( t.format( "HH" ) ) * 60 + parseInt( t.format( "mm" ) ));
//     displayMinute = ( "0" + minutes ).slice( -2 );
//     options += "<option value=" + hour + ":" + displayMinute + "> Dans "+inMinutes+" minutes </option>";
//   }
//
//   $( "datalist#ready-times" ).html( options );
// }
//
// updateDataList();
//
// setInterval(function(){
//   updateDataList();
// }, 5000); // run every 5 seconds

</script>
