<%
  if Order.count(user_id: @user.id, product_id: @product.id, submitted: false) > 0
    in_cart = true
    order = Order.first(user_id: @user.id, product_id: @product.id)
    amount = order.amount
    price = @product.price*amount
  else
    in_cart = false
    amount = 1
    price = @product.price
  end
%>

<%= (@index%4 == 0 && @index!=0) ? '</div>' : '' %>
<%= @index%4 == 0 ? '<div class="row is-table-row">' : '' %>

<div class="product col-sm-6 col-md-3 <%= in_cart ? "in-cart" : "not-in-cart" %>">
  <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
    <ul class="pricing">
      <li class="plan-header">
        <img src="/images/pizzas.svg" style="width:40%;margin-bottom:10px" />
        <div class="plan-name">
          <%= @product.name %>
        </div>
      </li>
      <% ingredients = JSON.parse(@product.ingredients) %>
      <% if ingredients["before"].length > 0%>
        <% ingredients["before"].each do |ingredient|%>
          <li><%= ingredient.capitalize %></li>
        <% end %>
      <% end %>
      <% if ingredients["after"].length > 0%>
        <li style="padding-top:20px">
          <b>APRES CUISSON :</b>
        </li>
        <% ingredients["after"].each do |ingredient|%>
          <li><%= ingredient.capitalize %></li>
        <% end %>
      <% end %>

      <li class="add-padding"></li>

      <li class="float-bottom">
        <div class="amount">
          <label for="amount">Quantité</label>
          <input type="number" value="<%= amount %>">
        </div>
        <div class="plan-purchase" unit-price="<%= "%.2f" % @product.price %>">
          <a class="btn btn-primary add-to-cart" product-id="<%= @product.id %>">
            <i class="fa fa-plus" aria-hidden="true"></i> <span class="price"><%= "%.2f" % price %></span> €
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
